/* .bottom-border {
    border-bottom: 3px solid #a21caf;
}

.blogify-logo {
    width: 90px;
    height: 68px;
    border-radius: 18px;
}


form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 1rem;
}

form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input, form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.5rem;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #555;
}

.best-photo {
    border-radius: 14rem;
}

.contact-container {
    position: relative;
    top: -97px;
}

.form-container {
    padding: 5rem 1.5rem;
    position: relative;
    top: -45px;
    border: 2px solid #a21caf;
    border-radius: 8rem;
}

.message {
    position: relative;
    top: -30px;
}

.name-segment {
    position: relative;
    left: 1.4rem;
}

.email-segment {
    position: relative;
    left: 1.7rem;
}

.contact-button {
    background-color: transparent;
    border: 1px solid #0dcaf0;
}

.contact-button:hover {
    background-color: #0dcaf0;
}

.info-container {
    border: 2px solid #a21caf;
    border-radius: 1.6rem;
    width: 406px;
    position: relative;
    top: -170px;
    left: 500px;
}

.info-container * {
    margin-top: .5rem;
    margin-left: .5rem;
}

@media (max-width: 1024px) {
    .info-container {
        position: relative;
        left: 0;
    }

    .form-container {
        width: 400px;
    }

    .contact-container {
        position: relative;
        left: 100px;
    }
} */

/* .blogify-logo {
    width: 90px;
    height: 68px;
    border-radius: 18px;
} */


body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header-section {
    background-color: #A000D6;
    padding: 1.2rem;
    text-align: center;
}

.blogify-logo {
    /* max-width: 50px; */
    max-width: 90px;
    height: auto;
    /* margin-right: 10px; */
    border-radius: 18px;
}

.container {
    /* border: 1px solid #A000D6; */
    margin-top: 20px;
}

.bottom-border {
    border-bottom: 3px solid #a21caf;
}

.contact-container {
    margin-top: 20px;
}

.best-photo {
    max-width: 100%;
    height: auto;
}

.form-container {
    margin-top: 20px;
}

.info-container {
    margin: 40px 0;
}

@media (max-width: 576px) {
    .form-container, .best-photo {
        text-align: center;
    }
}
